@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:wght@700&family=Miniver&family=Outfit:wght@100..900&family=Prata&family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: Outfit;
}

body{
    background: #dadada;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}